<div class="footer">
  <img class="divider" src="img/logo.png" />
  <div class="footer-bottom"></div>
  <div class="element">
    <div class="logo">
      <%= link_to "/", class: "group" do %>
        <%= image_tag "logo.png" %>
      <% end %>

    </div>
  </div>
  <div class="footer-middle">
    <div class="footer-column">
      <div class="footer-title">Catégories</div>
      <div class="footer-links">
        <div class="link">
          <div class="master-link"><div class="div">Catégorie 1</div></div>
        </div>
        <div class="link"><div class="master-link"></div></div>
      </div>
    </div>
    <div class="footer-column-2">
      <div class="footer-title">A propos</div>
      <div class="footer-links">
        <div class="link">
          <div class="master-link"><div class="div">Qui sommes-nous</div></div>
        </div>
        <div class="link">
          <div class="master-link"><div class="div">Nous contacter</div></div>
        </div>
      </div>
    </div>
    <div class="footer-column-3">
      <div class="footer-title">Support</div>
      <div class="footer-links">
        <div class="link">
          <div class="master-link"><div class="div">FAQ</div></div>
        </div>
        <div class="link">
          <div class="master-link"><div class="div"></div></div>
        </div>
      </div>
    </div>
    <div class="footer-column-4">
      <div class="footer-title">Inscrivez-vous à notre newsletter</div>
      <div class="element-px">
        <p class="description">Ne râtez aucune recette pour vos fêtes !</p>
        <div class="element-2">
          <div class="input-text">
            <div class="master-input-text">
              <div class="input-left"><div class="input-placeholder">Entrez votre email</div></div>
            </div>
          </div>

            <button class="button-text">S'inscrire</button>

        </div>
      </div>
    </div>
  </div>
  <div class="social-media">
    <%= link_to "/", class: "social-media-icon" do %>
        <%= image_tag "" %>
      <% end %>
      <%= link_to "/", class: "social-media-icon" do %>
        <%= image_tag "" %>
      <% end %>
  </div>
  <p class="copyright">Copyright © 2023 | Tous droits réservés</p>
</div>
